#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

label {
  margin-bottom: 0.2em;
}

.app {
  width: 500px;
}

.card {
  margin-bottom: 0.6em;
}

.history {
  width: 300px;
}

.purple {
  border: 1px solid #6f42c1 !important;
  background-color: #6f42c1 !important;
  color: white !important;
}

.purple-tag {
  /*background-color: #6f42c1 !important;*/
  color:  #6f42c1 !important;
}